@import '../../../assets/scss/global';
@import '../../@theme/styles/themes';

$bg:#210629;

@include nb-install-component() {
    yz-echarts {
        display: block;
        margin-top: 5vh;
        background: $bg;
        height: 50vh;
        width: 70.5vw;
        /deep/ .echart {
            background: $bg;
            height: 50vh;
            width: 70.5vw;
            canvas {
                background: $bg;
            }
        }
    }
    .btngrp {
        margin-bottom: 2vh;
    }
    /deep/ .ui-tree .ui-tree-container {
        height: 21vh;
    }
    /deep/ .ui-button {
        margin-right: 1vw;
    }
    /deep/ .ui-chkbox-label{
        margin-bottom: 0;
    }
}
