<p-dataTable [value]="gradeRecords" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" rows="15" [responsive]="true">
    <p-headerColumnGroup>
        <p-row>
            <p-column header="名称" rowspan="2"></p-column>
            <p-column *ngFor="let row1 of titleRow1" [header]="row1.name" (click)="mouseOver(row1.index)"></p-column>
        </p-row>
        <p-row>
            <p-column *ngFor="let row2 of titleRow2" [header]="row2.name" (mouseenter)="mouseOver(row2.index)"></p-column>
        </p-row>
    </p-headerColumnGroup>
    <p-column field="name"></p-column>
    <p-column *ngFor="let row2 of titleRow2" [field]="row2.field" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="新增"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog header="企业明细" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="width:400px" *ngIf="dialogGrade">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="name">企业名称</label>
            </div>
            <div class="ui-grid-col-8">
                <input pInputText id="name" [(ngModel)]="dialogGrade.name" />
            </div>
        </div>
        <ng-container *ngFor="let item of titleRow2">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label [for]="item.field">{{titleRow1[item.index].name}}</label>
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText [id]="item.field" [(ngModel)]="dialogGrade[item.field]" />
                </div>
            </div>
        </ng-container>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="删除"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="保存"></button>
        </div>
    </p-footer>
</p-dialog>
